body {
  font-family: "Noto Sans JP", sans-serif;
  background: #fafafa;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background: #6fcf97;
  color: white;
  padding: 1.5em 0;
}